# Weekly Assignment 5a
## Loan Pham and Brandan Owens

Q.1 We'll We'll be working with the 120 years of Olympic History dataset. Download the dataset “athlete_events.csv” and perform the following:

In [1]:
#import dataset and tools
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

olympic_data = pd.read_csv("../dataFiles/athlete_events.csv")
olympic_data

,ID,Name,Sex,Age,Height,Weight,Team,NOC,Games,Year,Season,City,Sport,Event,Medal
0,1,A Dijiang,M,24.0,180.0,80.0,China,CHN,1992 Summer,1992,Summer,Barcelona,Basketball,Basketball Men's Basketball,NaN
1,2,A Lamusi,M,23.0,170.0,60.0,China,CHN,2012 Summer,2012,Summer,London,Judo,Judo Men's Extra-Lightweight,NaN
2,3,Gunnar Nielsen Aaby,M,24.0,NaN,NaN,Denmark,DEN,1920 Summer,1920,Summer,Antwerpen,Football,Football Men's Football,NaN
3,4,Edgar Lindenau Aabye,M,34.0,NaN,NaN,Denmark/Sweden,DEN,1900 Summer,1900,Summer,Paris,Tug-Of-War,Tug-Of-War Men's Tug-Of-War,Gold
4,5,Christine Jacoba Aaftink,F,21.0,185.0,82.0,Netherlands,NED,1988 Winter,1988,Winter,Calgary,Speed Skating,Speed Skating Women's 500 metres,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
271111,135569,Andrzej ya,M,29.0,179.0,89.0,Poland-1,POL,1976 Winter,1976,Winter,Innsbruck,Luge,Luge Mixed (Men)'s Doubles,NaN
271112,135570,Piotr ya,M,27.0,176.0,59.0,Poland,POL,2014 Winter,2014,Winter,Sochi,Ski Jumping,"Ski Jumping Men's Large Hill, Individual",NaN
271113,135570,Piotr ya,M,27.0,176.0,59.0,Poland,POL,2014 Winter,2014,Winter,Sochi,Ski Jumping,"Ski Jumping Men's Large Hill, Team",NaN
271114,135571,Tomasz Ireneusz ya,M,30.0,185.0,96.0,Poland,POL,1998 Winter,1998,Winter,Nagano,Bobsleigh,Bobsleigh Men's Four,NaN
271115,135571,Tomasz Ireneusz ya,M,34.0,185.0,96.0,Poland,POL,2002 Winter,2002,Winter,Salt Lake City,Bobsleigh,Bobsleigh Men's Four,NaN

In [2]:
#Q.1.a Filter the DataFrame to only include the rows corresponding to medal winners from 2016. (In other words, drop the rows if 'Medal'==NaN)
olympic_filtered = olympic_data[olympic_data['Year'] >= 2016]
olymplic_filtered

NameError: name 'olymplic_filtered' is not defined

In [ ]:
#Q.1.b Find out the number of medals awarded in 2016 for each sport.

In [ ]:
#Q.1.c Filter the DataFrame one more time to only include the records for the top five sports based on the number of medals in 2016.

In [ ]:
#Q.1.d Generate a bar plot of record counts corresponding to each of the top five sports.

In [ ]:
#Q.1.e Generate a histogram for the “Age” of all medal winners in the top five sports (2016).

In [ ]:
#Q.1.f Generate a bar plot indicating how many medals were won by each country's team in the top five sports in 2016.

In [ ]:
#Q.1.g Generate a bar plot indicating the average weight of players, categorized based on gender, winning in the top five sports in 2016.

In [ ]:
#Q.1.h Create a scatter plot with x=height and y=weight.

In [ ]:
#Q.1.i Create a joint plot with x=height and y=weight.

In [ ]:
#Q.1.j Create two violin plots: 1 for distribution of weight by genders & class of medal.

In [ ]:
#Q.1.j(cont) 1 for distribution of height by genders & class of medal.

Q.2 We will work with the HPI dataset. The objective is to draw a bar plot depicting the number of countries in each region and a heatmap indicating the number of countries in various ranges of wellbeing and life-expectancy.

In [ ]:
#Q.2.a Read from the dataset "hpi_data_countries.txt" (it is txt file separated by \t). Use pandas to read it.
hpi_data = pd.read_csv('..\dataFiles\hpi_data_countries.txt', delimiter = "\t")
hpi_data

In [ ]:
#Q.2.b Count the number of rows for each region to generate a bar chart.

In [ ]:
#Q.2.c Use pd.cut to bin the values into different categories.
#hpi_df["Wellbeing (0-10)(binned)"] = pd.cut(hpi_df["Wellbeing (0-10)"], bins=np.linspace(2.5,8,12))
#hpi_df["Life Expectancy (years)(binned)"] = pd.cut(hpi_df["Life Expectancy (years)"], bins=np.linspace(45,85,9))
#Then generat a heatmap using cmap="Greens"