# Assignment 4b
### Loan Pham and Brandan Owens

In [1]:
#Q.1 Download the dataset "adult_income_data.csv"
import os
import pandas as pd
import numpy as np

,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,Male,2174,0,40,United-States,<=50K
0,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,Male,0,0,13,United-States,<=50K
1,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,Male,0,0,40,United-States,<=50K
2,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Male,0,0,40,United-States,<=50K
3,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Female,0,0,40,Cuba,<=50K
4,37,Private,284582,Masters,14,Married-civ-spouse,Exec-managerial,Wife,Female,0,0,40,United-States,<=50K
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32555,27,Private,257302,Assoc-acdm,12,Married-civ-spouse,Tech-support,Wife,Female,0,0,38,United-States,<=50K
32556,40,Private,154374,HS-grad,9,Married-civ-spouse,Machine-op-inspct,Husband,Male,0,0,40,United-States,>50K
32557,58,Private,151910,HS-grad,9,Widowed,Adm-clerical,Unmarried,Female,0,0,40,United-States,<=50K
32558,22,Private,201490,HS-grad,9,Never-married,Adm-clerical,Own-child,Male,0,0,20,United-States,<=50K
32559,52,Self-emp-inc,287927,HS-grad,9,Married-civ-spouse,Exec-managerial,Wife,Female,15024,0,40,United-States,>50K

In [2]:
#Q.1.a read in the dataset with pd.read_csv. Show the first 8 records, what’s wrong with the process of importing the dataset.
data = pd.read_csv("../dataFiles/adult_income_data.csv")
data

In [3]:
#Q.1.b read the dataset again and bear in mind that the dataset has no header (use header = None).

In [4]:
#Q.1.c name the columns. Refer to the "adult_incom_names.txt"

In [5]:
#Q.1.d get the statistical summary of the dataset.

In [6]:
#Q.1.e Find how many missing values for each variable, i.e. column.

In [7]:
#Q.1.f Create a DataFrame with only age, education, and occupation.

In [8]:
#Q.1.g Find the number of people who are aged between 30 and 50.

In [9]:
#Q.1.h Find the number of people who are aged between 30 and 50, and made positive capital gain.

In [10]:
#Q.1.i Find the number of people who are aged between 30 and 50, and made positive capital gain.

In [11]:
#Q.1.j Create two dataframes.
#df1 = data_income[['age', 'workclass', 'occupation']].sample(5,random_state=101)
#df2 = data_income[['education','occupation']].sample(5,random_state=101)
# Merge df1 with df2. The key as "occupation".

In [12]:
#Q.2.a Read in dataset 'Energy Indicators.xls'. Exclude the footer & header info, the first two columns and change the labels to reflect ['Country','Energy Supply','Energy Supply per Capita','% Renewable']. Be sure to remove everything but the characters in 'Country'. Rename the following countries ["Republic of Korea":"South Korea","United States of America":"United States","United Kingdom of Great Britain and Northern Ireland":"United Kingdom","China, Hong Kong Special Administrative Region":"Hong Kong","Bolivia (Plurinational State of)":"Bolivia","Switzerland17":"Switzerland"].

In [13]:
#Q.2.b Load the GDP Data from "world_bank.xlsx". Exclude the header, rename the following countries ["Korea, Rep.":"South Korea","Iran, Islamic Rep.":"Iran","Hong Kong SAR, China":"Hong Kong"]

In [14]:
#Q.2.c Load the dataset scimagojr.xlsx

In [15]:
#Q.2.d Join the three datasets, retain only the last 10 years of GDP data and only the top 15 countries by Scimagojr 'Rank'

In [16]:
#Q.2.e What is the average GDP over the last 10 years for each country?

In [17]:
#Q.2.f By how much had the GDP changed over the 10-year span for the country with the 6th largest average GDP?

In [18]:
#Q.2.g Create a new column that is the ration of Self-Citations to Total Citations. What is the maximum value for this new column, and what country has the highest ratio?